In [1]:
import time
print(time.ctime(time.time()))

Sun Dec  1 20:00:34 2024

In [2]:
import os

import numpy as np
import pandas as pd

from pathlib import Path

In [3]:
# Day of calendar
day = 1

In [4]:
# Set path to input
input_dir = Path(os.path.abspath('')).parent

In [5]:
# Read input file
filepath = os.path.join(input_dir,'inputs','input_day%02d.txt' %(day))
input = pd.read_csv(filepath,sep=r'\s+',header=None,names=['col1', 'col2'])
input

      col1   col2
0    88450  63363
1    58674  73195
2    30431  97265
3    79176  36224
4    51071  64526
..     ...    ...
995  29215  99938
996  37580  89301
997  73593  36007
998  11075  96823
999  49084  34885

[1000 rows x 2 columns]

# Part 1

We want to sort each column from min to max and then calculate the difference between elements

In [6]:
# Sort each column separately
df = pd.DataFrame({col: sorted(input[col]) for col in input.columns})
distances = abs(df.iloc[:, 0] - df.iloc[:, 1])
df.insert(2,'distance',distances)
df

      col1   col2  distance
0    10094  10051        43
1    10097  10066        31
2    10166  10074        92
3    10176  10128        48
4    10241  10166        75
..     ...    ...       ...
995  99747  98893       854
996  99772  99109       663
997  99821  99288       533
998  99845  99746        99
999  99937  99938         1

[1000 rows x 3 columns]

In [7]:
# Add-up all the distances
df.distance.sum()

2580760

# Part 2

In [20]:
similarity_score = 0
for i,element in enumerate(df.col1.values):
    similarity = element * df['col2'].isin([element]).sum()
    similarity_score += similarity
similarity_score

25358365